<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" href="style.css"> --> <!-- cant figure out how to link a stylesheet with this weird python thing -->

    <title>nasa (with physics)</title>

    <style>
        body {
            background-image: url('../static/img/stars.jpg');
            color: white;
            /* justify-content: center; */
            text-align: center;
            /* align-items: center; */
        }

        a {
            font-weight: bold; 
            font-size: x-large;
            color: rgb(42, 42, 255);
        }

        #picture {
            height: 75vh;
            max-width: 75vw;
            border: .2em solid purple;
        }
    </style>
    
</head>
<body>
    <h1>NASA Photo of the day!</h1>
    <img id="picture" src="{{ image_url }}" alt="image">
    <div>
        <a href="/description">Click to view the description</a>
    </div>
    
   <!-- <script src="../app.py"></script> --> <!-- this doesn't do anything -->
</body>
</html>